* {
    margin: 0;
    padding: 0;
}

.BlockChain {
    width: 100%;
    padding: 30px;
    text-align: center;

}

.BlockChain .BlockTheme {
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;

}

.BlockChain .BlockTheme .Gif {
    width: 100%;
}
.BlockChain .BlockTheme .Gif img{
    width: 300px;height: 300px;
}
.BlockChain .BlockTheme .about{
    padding: 0% 15%;
    font-size: 20px;
}
.BlockChain .BlockContent{
    position: relative;top: 20px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;

}
.BlockChain .BlockVideo {
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    position: relative;top: 20px;

}
.BlockChain .BlockVideo .roadmap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.BlockChain button{
    padding: 5px 50px;
}


.BlockVideo .videos{
    display: flex;
    flex-direction: row;
    

}
.BlockVideo .videos .item{
   
   background-color: wheat;
   margin-left: 20px;
   margin-right: 20px;
   border-radius:12px ;
   border: 2px solid black;
    
}
.BlockVideo .item img{
    width: 300px;
    border-radius:12px ;
     
 }
 .BlockVideo .videos {
    
    overflow-y: hidden;
    overflow-x:scroll ;

 }
 .BlockVideo .videos::-webkit-scrollbar {
    
   display: none;

 }
 @media screen and (max-width:1000px) {
    .BlockContent .roadmap img{
        width: 95%;
        object-fit: contain;
    }
    .BlockChain .BlockTheme .about{
        padding: 0% 5%;
        font-size: 20px;
    }
    
 }
 @media screen and (max-width:700px) {
    .BlockTheme .heading{
        font-size: 30px;
    }
    .BlockChain .BlockTheme .about{
        padding: 0 15px;
        font-size: 15px;
    }
    .BlockChain .BlockContent{
        
        
        font-size: 30px;
    
    }
    .BlockChain .BlockVideo{
        
        
        font-size: 30px;
    
    }
    
    
 }